:root {
  --primary: #fff;
  --secondary: #000;
  --tertier: #ffcc00;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "poppins" sans-serif;
  background-color: var(--primary);
  color: var(--secondary);
  background-size: cover;
  background-position: center;
}

.penasehat {
  display: inline-block;
  justify-content: center;
  height: 50%;
  width: 50%;
  background-color: pink;
}
.penasehat ul li {
    display: inline-block;
    justify-items: center;
    align-items: center;
    background-color: khaki;
    width: 100%;
    font-size: 300px;
}