:root {
  --primary: #fff;
  --secondary: #000;
  --tertier: #ffcc00;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "poppins" sans-serif;
  background-color: var(--primary);
  color: #fff;
  background-size: cover;
  background-position: center;
}

section {
  padding: 3% 5%;
}

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 0.5rem 4%;
  background-color: rgba(1, 1, 1, 0.3);
  border-bottom: 0.3rem solid silver;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

}

.navbar .navbar-logo {
  position: relative;
  left: -50px;
  top: 18px;
  font-size: 2.2rem;
  font-weight: 700;
  color: #000;
  font-style: bold;
  filter: drop-shadow(0 0 1px silver);
  text-transform: uppercase;
  overflow: hidden;
  animation-name: animasiku;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  width: 50%;
 

}
.navbar  img {
  filter: brightness(1) invert(1);
  padding-right: 3%;
}



@keyframes animasiku {
  0% {
    color: #000;
    filter: drop-shadow(0 1px 2px #fff);
    opacity: 1;
  }

  25% {
    color: #fff;
    filter: drop-shadow(0 1px 2px #000);
    opacity: 1;
  }

  50% {
    color: #fff;
    filter: drop-shadow(0 1px 2px #000);
    opacity: 1;
  }
  60% {
    color: #000;
    filter: drop-shadow(0 1px 2px #fff);
    opacity: 1;
  }

  75% {
    color: #fff;
    filter: drop-shadow(0 1px 2px #000);
    opacity: 1;
  }
  100% {
    color: #fff;
    filter: drop-shadow(0 0 1px #fff);
    opacity: 1;
  }
}


.navbar .navbar-nav {
  position: relative;
  text-align: center;
  padding-top: 3%;
  width: 30%;

}



.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  margin: 0 0.5rem;
  padding: 0 2%;
  gap: 10px;
  transition: 0.3s linear;
}

.navbar .navbar-nav a:hover {
  color: var(--tertier);
  transform: translatey(-5px);
  transition: all 0.5s;
  filter: drop-shadow(0 0 1px var(--tertier));

}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.3s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.6);
}

.navbar .navbar-extra  {
  padding-top: 2%;
  padding-left: 2%;
}
.navbar .navbar-extra a {
  color: var(--primary);
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
   filter: drop-shadow( 0 0 1px var(--primary));
 
}

#hamburger-menu {
  display: none;
}

/* navbar search form */

.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 9%;
  background-color: white;
  width: 57rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.5s;
  border-bottom: 1px solid var(--secondary);
  border-inline: 0.5px solid var(--secondary);
    filter: drop-shadow( 1px 1px 1px var(--secondary));
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}




/* hero section */

.home {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(../img/gambar/comp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  object-fit: cover;
  position: relative;
  overflow-x: hidden;
}

.home .home-text {
  height: 20%;
  width: 60%;
  filter: drop-shadow(0 0 1px #000);
  padding: 1% 2%;
   
}

.home .home-text h1 {
  position: relative;
  display: inline-block;
  height: 5rem;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1;
  color: var(--tertier);
  cursor: pointer;
}

.home .home-text h1:hover {
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
}

.home .home-text h1 span {
  letter-spacing: 0.3rem;
  font-weight: bold;
  font-size: 900;
  padding-right: 10px;
  filter: drop-shadow(1px 1px 2px #000);
}

.home .home-text .make {
  display: inline-block;
  position: relative;
  animation: moveup 12s infinite ease-in-out;
  font-style: italic;
  color: var(--primary);
  padding-right: 10px;
 
}

.home .home-text .happiness {
  display: inline-block;
  position: relative;
  animation: movedown 12s infinite ease-in-out;
  font-style: italic;
  color: var(--primary);
  padding-left: 10px;
}

@keyframes moveup {
  0% {
    transform: translatey(150%);
    opacity: 0;
  }

  25% {
    transform: translatey(30%);
    opacity: 0.5;
    transform: scale(1.2);
  }

  50% {
    transform: translatey(0%);
    opacity: 1;
    filter: drop-shadow(2px 2px 3px #fff);
  }

  75% {
    transform: translatey(0%);
    opacity: 1;
    filter: drop-shadow(2px 2px 3px #fff);
  }
  100% {
    transform: translatey(0%);
    opacity: 0.2;
  }
}
@keyframes movedown {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }

  25% {
    transform: translateY(-100%);
    opacity: 0.5;
    transform: scale(1.2);
  }

  50% {
    transform: translateY(0%);
    opacity: 1;
    filter: drop-shadow(2px 2px 3px #fff);
  }
  75% {
    transform: translateY(0%);
    opacity: 1;
    filter: drop-shadow(2px 2px 3px #fff);
  }

  100% {
    transform: translateY(0%);
    opacity: 0.2;
  }
}

.home-text p {
  color: var(--tertier);
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
  letter-spacing: 1px;
  word-spacing: 5px;
  text-shadow: 0 0 1px var(--primary);
  cursor: pointer;
}

.home-text p:hover {
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
  cursor: pointer;
}



/* about section */

.about {
  
  padding-top: 7%;
  padding-inline: 1%;
  margin-top: 4%;
  width: 100%;
  height: 100vh;
  padding-inline: 3%;
  
}

.about h2,
.products h2 {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 1%;
  color: var(--tertier);

  
}

.about h2 span,
.products h2 span {
  color: var(--secondary);
}

.about .row {
  display: flex;
  column-gap: 4%;
  height: 70vh;
}

.about .row .about-img img {
  height: 100%;
  max-width: 40vw;
  background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}


.about .row .content {
  flex: 1 1 50rem;
  max-width: 55%;

}

.about .row .content h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 2%;
  color: var(--secondary);
  word-spacing: 1px;
  font-weight: bold;
  padding-bottom: 1%;
  border-bottom: 2px dashed rgb(58, 54, 54);

}

.about .row .content ul li {
  display: inline-block;
  font-size: 1.2rem;
 
}

.about .row .content ul li:after {
  content: "";
  display: block;
  padding-bottom: 1px;
  border-bottom: 2.5px dashed var(--tertier);
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s linear;
  filter: drop-shadow(0 0 1px var(--primary));


}

.about .row .content ul li:hover::after {
  transform: scaleX(1);

  
   
}

.about .row .content ul li span {
 color: #000;
 font-weight: bold;
} 

.about .row .content .container-pengurus  {
  display: flex;
  flex-wrap: wrap;
  color: black;
  font-weight: bold;
  margin-top: 1%;
  margin-bottom: 1%;
  border-bottom: 1px solid silver;
  height:25%;
 
  
}

.about .row .content .container-pengurus h4  {
  font-size: 1.3rem;
 width: 100vw;
 margin-bottom: 8px;
 word-spacing: 5px;
 color: rgb(80, 60, 60);
 filter: 1px 1px 2px ;
}

.about .row .content .container-pengurus h5  {
  display: flex;
  justify-content: space-between;
 padding-right: 4%;
 font-size: 0.8rem;



}

.about .row .content .container-pengurus h5 span {
  color: brown;

width: 100%;
   
}



/*   -------   PRODUCT section   --------    */

.products {
  padding-inline: 2%;
  padding-top: 6%;
  margin-top: 10%;
  border-top: 1px solid #555;
overflow: hidden;
  
}

.products p {
  justify-self: center;
  color: red;
}

.products .pagination {
  position: relative;
  left: 40px;
  color: black;
  width: 30%;
  padding-bottom: 1%;
}

.products .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  column-gap: 2rem;


}

 

.products .product-card {
  display: flex;
  justify-content: space-between;
  border: 1px solid #666;
 padding-inline: 3%;
  background-color: #f4f4f4;
  gap: 30px;
  transition: 0.5s ease;
  height: 90%;

  
}

.products .product-card:hover {

 box-shadow: 0 10px 20px rgba( 0 0 0 0.15);
 filter: brightness(0.85);
 transform: translatey(-5px);
  transition: 0.3s linear;

}

.products .product-card .product-image {

padding-top: 6%;
    width: 45%;
     height: 90%;
}

.products .product-card .product-image img {
  width:100%;
  height: 100%;
 

}

.products .product-card .product-title  {

 color: #000;
width: 55%;
height: 90%;
  overflow: auto;
}

.products .product-card .product-title h3 {
  position: sticky;
  padding-top: 3%;
  text-align: center;
  width: 100%;
  height: 13%;
  top: 0;
background-color: #f4f4f4;
} 

.products .product-card .product-title ul {
  width: 100%;
  margin-top: 10px;
  color: #010101;
  max-height: 50%; 
}

.products .product-card .product-title ul li {
  margin-bottom: 10px;
}




/*   -------   contact section   --------    */


.contact {
  padding: 4% 3% 0;
  height: 90%;
}

.contact h2 {
  color: var(--tertier);
  text-align: center;
  font-size: 2.6rem;
  margin-top: 3%;
  margin-bottom: 2rem;
  word-spacing: 0.8rem;

}

.contact h2 span {
  color: var(--secondary);
}



.contact .contact-container {
    display: flex;
    justify-content: space-between;
  width: 50%;
  background-color: wheat;
   column-gap: 150px;
}

.contact .contact-container .contact-info {
  display: inline-block;
  margin-bottom: 20px;
}

.contact .contact-container .contact-info ul  {
  padding-left: 16%;
  padding-top: 5%;
  color: var(--secondary);
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 3%;
  word-spacing: 10px;
 list-style: none;

}

.contact .contact-container .contact-info ul li {
width: 40vw;
font-size: 1.4rem;
font-weight: bold;

}

.contact .contact-add,
.contact .contact-phone,
.contact .contact-mail {
  padding-left: 5%;
  margin-bottom: 3%;

}

.contact .contact-container .contact-info .contact-add h3,
.contact .contact-container .contact-info .contact-phone h3,
.contact .contact-container .contact-info .contact-mail h3 {
  padding-left: 3%;
  color: var(--secondary);
}


.contact-info a {
  position: relative;
  top: 10px;
  color: #5c5b66;

    animation-name: animasiku;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
 
}



.contact-info h3 {
  color: #f4f4f4;
  font-size: 1.2rem;
  display: inline;
  position: absolute;

  line-height: px;
  width: 30%;
}

.peta iframe {
  display: flex;
  width: 400px;
  height: 180px;
  margin-left: 15%;
  border-radius: 10px ;
  margin-top: 40px;
  
 
}

.contact .contact-container .input-data {
  background-color: #5c5b66;
  min-width: 45vw;
  padding-top: 3%;
  padding-left: 5%;

  
}

.contact .contact-container .input-data ul li {
  display: flex;
  padding-top: 3%;
  margin-bottom: 3%;
  

}

.contact .contact-container .input-data label {
  font-size: 1.8rem;
  width: 35%;
 
  

}
.contact .contact-container .input-data input {
  margin-left: 2%;
  padding-left: 4%;
  height: 4vh;
  width: 50%;

}



button[type="submit"] {
  display: inline-block;
  position: relative;
  top: 15px;
  font-size: 1.5rem;
  background-color: white;
  color: #010101;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  color: var(--primary);
  background-color: var(--tertier);
}



footer {
  font-size: 1rem;
  font-weight: bold;
  word-spacing: 5px;
  text-align: center;
  background-color: black;
  color: var(--primary);
  padding: 1rem 0;
}

/* nedia queries */

/* leptop */



/* nedia queries */

/* leptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 884px) {
  html {
    font-size: 60%;
  }

  .navbar {
    height: 8%;
  }


  .navbar img {
    width: 10%;
    height: 60px;
    background-position: center;
    margin-right: 5%;

  }

  .navbar .navbar-logo {
    width: 60%;
  }

  .navbar .navbar-nav {
    width: 40%;
    padding: none;
  }
  
  .navbar .navbar-nav a{
    margin: 1px;
  }


  .about .row .about-img  {
    display: none;
  
  }

  .about h2 {
    padding-top: 6%;
    margin-bottom: 3%;
    word-spacing: 10px;
    
  }

 .about .row  {
    background-image: url(../img/gambar/jamtangan.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 4%;

    height: 85%;
    width: 100%;
   
    
  } 

  .about .row .content,
  .about .row .content h4{
    padding-inline: 5%;
    font-size: 2rem;
    line-height: 35px;

  }

  .about .row .content {
    max-width: 100%;
   
  }

  .about .row .content h3 {
  line-height: 20px;
  word-spacing: 10px;
  font-size: 2rem;
  font-weight: bold;
 
 
  
  }

   .about .row .content a {
    line-height: 25px;
    font-size: 1.6rem;
    font-weight: bold;
    
   }

 
                /* PRODUCTS */
 

  .products {
    height: 100vh;
    padding-top: 13%;
    margin-bottom: 10%;
    
  
   
  }

.products h2 {
  word-spacing: 10px;
}

.products .row .product-card {

  height: 35vw;
  margin-bottom: 30px;


}


.products .row .product-image img {
  height: 100%;
  padding-top: 10%;
  background-position: center;
  background-size: cover;
 
}

.products .row .product-image {
 padding: 5% 0;
}

.products .row .product-title ul li {
  padding-right: 1%;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 22px;


}


                 /* CONTACT */


  .contact {
    height: 100vh;

  }

  .contact h2 {
    margin-bottom: 5%;
    padding-top: 10%;
  }
 
  .contact .contact-container {
    column-gap: 90px;
  }

   .contact .contact-container .contact-info,
   .contact .contact-container .input-data {
    padding-top: 5%;
   }

  .contact .contact-container .contact-info ul li {
    font-size: 1.2rem;
    font-weight: bold;

   
  }

  .contact .contact-info iframe {
  width: 90%;
   height: 20vh;
   
  }

  footer {
    justify-content: flex-end;
  
  }
}

/* tablet */

@media (max-width: 768px) {
  html {
    font-size: 45%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 30%;
    height: 40vh;
    transition: 0.3s;
  }


  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
   color: var(--secondary);
    margin: 1rem;
    padding-left: 13%;
    padding-top: 5%;
    font-size: 1.5rem;
    opacity: 1;
    filter: drop-shadow(0 1px 1px #000);
    text-align: left;
    height: 40px;
   
  }

  .navbar .navbar-nav a:hover {
    font-weight: bold;
    background-color: #666;
    border-radius: 10px;
    transition: all 0.5s linear;
    animation-name: animasiku-span;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 1;
      filter: drop-shadow(0 1px 2px #000);
    

  }

  .navbar .navbar-nav a::after {
    transform-origin: 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(object-fit);
  
  }

 
  .navbar .navbar-extra  {
    display: flex;
    justify-content:space-between;
     width: 100;
     margin-right: 5%;
     cursor: pointer;

    
  }
  
  .navbar .navbar-extra a {
    padding-right: 50%;
  }

  .navbar .search-form {
    width: 85%;
  }
  



  .about .row   {
   
    border-radius: 360px 18px 360px 18px;
    transition: all 3s ease;
 
   
  }

.about .row .content ul li {
  height: 20px;
 
}

.about .row .content ul li a {
  font-size: 1.3rem;
  line-height: none;
  
  
}

  .about .row .about-img:hover {
    transition: all 3s ease;
    border-radius: 0;
  
  }

 


                  /* P R O D U C T */



.products .row .product-title ul li {
  width: 100%;
  padding-left: 1%;
  line-height: 20px;
 font-size: 1rem;

}

  .contact .contact-container {
    flex-wrap: wrap;
    height: 90%;
  }

    .contact .contact-container ul li label{
    margin-right: 5%;
   
  }

  .contact .contact-container .maps {
    height: 40%;
  }




}


/* mobile phone */

@media (max-width: 450px) {
  html {
    font-size: 35%;
  }
  
  .navbar img {
    width: 60px;
    height: 40px;
    padding-bottom: 5px;
  }

  .navbar .navbar-logo {
    padding-bottom: 20px;
    padding-left: 30px;
    width: 80%;
    font-size: 1.2rem;
  }


  .navbar .navbar-nav a {
    text-align: start;
  }

  .navbar .navbar-extra {
    position: relative;
    left: -15px;
    width: 7%;
  }


  .home .home-text {
    width: 70%;
    margin-left: 4%;
 
  }

  .about {
    height: 100%;
  }

  .about h2 {
    padding-top: 5%;
    margin-top: 5%;
   
  
  
  }


 
  .about .row .about-img  {
    background-image: none;
  }

  .about .row .content  {
    font-size: 0.9rem;
  }
  .about .row .content h3 {
    font-size: 0.9rem;
    line-height: 15px;
  }

  .about .row .content ul { 
    line-height: 1px;
  }
  .about .row .content ul li {
  font-weight: normal;
   
  } 


  .about .row .container-pengurus h4{
    margin-top: 2%;
    height: 30%;
    line-height: 15px;
   
  }

    .about .row .container-pengurus ul {
    background-color: aqua;
    gap: 10px;

  }

   .about .row .container-pengurus ul li{
    font-size: 0.6rem;
    column-gap: 10px;
    background-color: coral;
  
  }


  .products {
    border-bottom: 1px solid var(--secondary) ;
  
  }



.products .row .product-title ul li {
  font-weight: bold;
  line-height: 12px;
}


.products .row .product-card {
  width: 100vw;
  height: 25vh;
  margin-bottom: 15px;
}



  .contact {
  
    padding-top: 10%;
  }



  .contact .contact-container {
    display: grid;
   width: 100%;
   height: 40%;

  }

  .contact .contact-container .contact-info ul li{
    width: 110%;
    font-size: 1rem;
  
 
  }
  .contact .contact-container .contact-info h3{
    width:fit-content;
    font-size: 1rem;
    padding-top: 3%;
   
  }

  .contact .contact-container .input-data {
    margin-top: 30%;
    width: 140%;
    height: 90%;
  }
  
  .contact .contact-container .input-data  label {
    align-content: center;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .peta {
    display: none;
  }
 
 

 


}

@keyframes animateWords {
  0% {
    transform: translateY(0%);
  }

  25% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(-200%);
  }

  75% {
    transform: translateY(-300%);
  }

  100% {
    transform: translateY(-400%);
  }
}

@keyframes star {
  50% {
    transform: translateX(200%);
  }
}
