:root {
  --primary: #fff;
  --secondary: #000;
  --tertier: #ffcc00;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "poppins" sans-serif;
  background-color: var(--primary);
  color: #fff;
  background-size: cover;
  background-position: center;
}

/* section {
  padding: 3% 6%;
} */

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
 max-width: 100%;
  padding: 0.8rem 4%;
  background-color: rgba(1, 1, 1, 0.3);
  border-bottom: 0.3rem solid silver;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  position: relative;
  left: -50px;
  top: 18px;
  font-size: 2.2rem;
  font-weight: 700;
  color: #000;
  font-style: bold;
  filter: drop-shadow(0 0 1px silver);
  text-transform: uppercase;
  overflow: hidden;
  animation-name: animasiku;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;


}



@keyframes animasiku {
  0% {
    color: #000;
    filter: drop-shadow(0 1px 2px #fff);
    opacity: 1;
  }

  25% {
    color: #fff;
    filter: drop-shadow(0 1px 2px #000);
    opacity: 1;
  }

  50% {
    color: #fff;
    filter: drop-shadow(0 1px 2px #000);
    opacity: 1;
  }
  60% {
    color: #000;
    filter: drop-shadow(0 1px 2px #fff);
    opacity: 1;
  }

  75% {
    color: #fff;
    filter: drop-shadow(0 1px 2px #000);
    opacity: 1;
  }
  100% {
    color: #fff;
    filter: drop-shadow(0 0 1px #fff);
    opacity: 1;
  }
}


.navbar .navbar-nav {
  text-align: center;
  padding-top: 3%;
  width: 35%;
}



.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  margin: 0 0.5rem;
  padding: 0 2%;
  gap: 10px;
  transition: 0.3s linear;
}

.navbar .navbar-nav a:hover {
  color: var(--secondary);
  transform: scale(1.2);
  transform: translatey(-5px);
  transition: all 0.5s;
  filter: drop-shadow(0 0 2px var(--primary));

}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.3s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.6);
}

.navbar .navbar-extra  {
  padding-top: 2%;
}
.navbar .navbar-extra a {
  color: var(--primary);
}

.navbar .navbar-extra a:hover {
  color: var(--secondary);
   filter: drop-shadow( 1px 1px 2px var(--primary));
}

#hamburger-menu {
  display: none;
}

/* navbar search form */

.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 9%;
  background-color: white;
  width: 57rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.5s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}



/* hero section */

.home {
  display: flex;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
  background-image: url(../img/dokter.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  object-fit: cover;
  position: relative;
}

.home .home-text {
  height: 20%;
  width: 60%;
  filter: drop-shadow(0 0 1px #000);
  padding: 1% 2%;
   
}

.home .home-text h1 {
  position: relative;
  display: inline-block;
  height: 5rem;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1;
 
 
 color: var(--tertier);

  /* background: linear-gradient(120deg, transparent, var(--primary), transparent); */
  cursor: pointer;
}

.home .home-text h1:hover {
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
}

.home .home-text h1 span {
  letter-spacing: 0.3rem;
  font-weight: bold;
  font-size: 900;
  padding-right: 10px;
 
  filter: drop-shadow(1px 1px 2px #000);
}

.home .home-text .make {
  display: inline-block;
  position: relative;
  animation: moveup 12s infinite ease-in-out;
  font-style: italic;
  color: var(--primary);
  padding-right: 10px;
 
}

.home .home-text .happiness {
  display: inline-block;
  position: relative;
  animation: movedown 12s infinite ease-in-out;
  font-style: italic;
  color: var(--primary);
  padding-left: 10px;
}

@keyframes moveup {
  0% {
    transform: translatey(150%);
    opacity: 0;
  }

  25% {
    transform: translatey(30%);
    opacity: 0.5;
    transform: scale(1.2);
  }

  50% {
    transform: translatey(0%);
    opacity: 1;
    filter: drop-shadow(2px 2px 3px #fff);
  }

  75% {
    transform: translatey(0%);
    opacity: 1;
    filter: drop-shadow(2px 2px 3px #fff);
  }
  100% {
    transform: translatey(0%);
    opacity: 0.2;
  }
}
@keyframes movedown {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }

  25% {
    transform: translateY(-100%);
    opacity: 0.5;
    transform: scale(1.2);
  }

  50% {
    transform: translateY(0%);
    opacity: 1;
    filter: drop-shadow(2px 2px 3px #fff);
  }
  75% {
    transform: translateY(0%);
    opacity: 1;
    filter: drop-shadow(2px 2px 3px #fff);
  }

  100% {
    transform: translateY(0%);
    opacity: 0.2;
  }
}

.home-text p {
  color: khaki;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
  letter-spacing: 1px;
  word-spacing: 5px;
 text-shadow: 0 0 1px var(--primary);
  cursor: pointer;
}

.home-text p:hover {
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
  cursor: pointer;
}



/* about section */

.about {
  padding-top: 7%;
  padding-inline: 1%;
  margin-top: 4%;
 height: 100vh;
}

.about h2,
.products h2 {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 1%;
  color: var(--tertier);
  
}

.about h2 span,
.products h2 span {
  color: var(--secondary);
}

.about .row {
  display: flex;
  padding-inline: 5%;
  height: 70vh;
}

.about .row .about-img img {
  height: 70vh;
  width: 35vw;
  background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 
}


.about .row .content {
  flex: 1 1 50rem;
  padding-left: 3rem;
  
}

.about .row .content h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2%;
  color: var(--secondary);
  word-spacing: 1px;
  font-weight: bold;
  max-width: 55%;
  padding-bottom: 1%;
  border-bottom: 2px dashed #010101;

 

}

.about .row .content a {
  display: inline;
  font-size: 1.2rem;

}
.about .row .content a span {
 color: #000;
 font-weight: bold;
} 

.about .row .content .container-pengurus  {
  display: flex;
  flex-wrap: wrap;
  color: black;
  font-weight: bold;
  margin-top: 1%;
  margin-bottom: 1%;
  border-bottom: 1px solid silver;
  height:25%;
  max-width: 55% ;
  
}

.about .row .content .container-pengurus h4  {
  font-size: 1.7rem;
 width: 100vw;
 margin-bottom: 8px;
 word-spacing: 5px;
 
}

.about .row .content .container-pengurus h5  {
  display: flex;
 padding-inline: 2%;
 
}

.about .row .content .container-pengurus  span{
  color: blueviolet;
   
}



/*   -------   PRODUCT section   --------    */

.products {
  padding-inline: 2%;
  padding-top: 6%;
  margin-top: 10%;
  border-top: 1px solid #555;
  
}

.products p {
  justify-self: center;
  color: red;
}

.products .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  padding-inline: 20px;
  
}

.products .product-card {
  display: flex;
  justify-content: space-between;
  border: 1px solid #666;
 padding: 2% 4%;
  background-color: #f4f4f4;
  gap: 30px;
}

.products .product-card .product-image img {
  height: 20rem;
  width: 20rem;
  object-fit: cover;
  padding: 3% 0;
}

.products .product-card .product-title  {
 color: #000;
 flex: 1 1 35rem;
}

.products .product-card .product-title h3 {
  padding: 3%;

} 

.products .product-card .product-title p {
  color: #010101;
  width: 23vw;
  height: auto;
  margin-right: 10%;
 
}




/*   -------   contact section   --------    */


.contact {
  padding: 5rem 3% 1rem;
  height: 100vh;
}

.contact h2 {
  color: var(--tertier);
  text-align: center;
  font-size: 2.6rem;
  margin-top: 3%;
  margin-bottom: 2rem;
  word-spacing: 0.8rem;

}

.contact h2 span {
  color: var(--secondary);
}

.contact .contact-container {
  display: flex;
  gap: 100px;
 

}

.contact .contact-box {
  height: 70vh;
  width: 50%;
  background-color: wheat;
}

.contact .contact-box .contact-info {
  display: inline-block;
  margin-bottom: 20px;
}

.contact .contact-box .contact-info ul  {
  padding-left: 16%;
  color: var(--secondary);
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 7%;
  word-spacing: 10px;
 list-style: none;
}

.contact .contact-box .contact-info ul li {
width: 40vw;
padding-top: 5px;
font-size: 1.4rem;
font-weight: bold;

}

.contact .contact-add,
.contact .contact-phone,
.contact .contact-mail {
  padding-left: 5%;
  margin-bottom: 5%;

}

.contact .contact-box .contact-info .contact-add h3,
.contact .contact-box .contact-info .contact-phone h3,
.contact .contact-box .contact-info .contact-mail h3 {
  padding-left: 3%;
  color: var(--secondary);
}


.contact-info a {
  color: #5c5b66;
    animation-name: animasiku;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.contact-info a:hover {
  color: var(--primary);
}

.contact-info h3 {
  color: #f4f4f4;
  font-size: 1.2rem;
  display: inline;
  position: absolute;
}

.peta iframe {
  display: flex;
  width: 200px;
  height: 100px;
  margin-left: 15%;
  border-radius: 10px ;
  
 
}

button {
  margin-left: 5%;
}

button[type="submit"] {
  display: inline-block;
  position: relative;
  top: 15px;
  left: 32px;
  font-size: 1.5rem;
  background-color: grey;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 2px;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  color: var(--primary);
  background-color: var(--tertier);
}

.form-group textarea {
  height: 150px;
}

.contact .contact-container .input-data {
  background-color: #5c5b66;
  width: 40%;
  padding-left: 5%;
  
}

.contact .contact-container .input-data .input-grup {
  padding-top: 2%;

}
.contact .contact-container .input-data .input-grup input {
  margin-left: 2%;
  padding-left: 4%;
  height: 4vh;
  width: 50%;
  background-color: khaki;

}


footer {
  font-size: 1rem;
  font-weight: bold;
  word-spacing: 5px;
  text-align: center;
  background-color: black;
  color: var(--primary);
  padding: 1rem 0;
}

/* nedia queries */

/* leptop */



/* nedia queries */

/* leptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 884px) {
  html {
    font-size: 50%;
  }

  .navbar {
    height: 8%;
  }


  .navbar img {
    width: 8%;
    height: 50px;
    background-position: center;
    margin-right: 7%;

  }


  .about .row .about-img  {
    display: none;
  }

  .about h2 {
    padding-top: 6%;
    margin-bottom: 3%;
    
  }

 .about .row  {
  justify-content: center;
  justify-items: center;
    background-image: url(../img/stetoskop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 7%;
    
  } 

  .about .row .content h3 {
 
  line-height: 20px;
  min-width: 80%;
  
  }

   .about .row .content a {
    line-height: 25px;
    font-size: 1.6rem;
    font-weight: bold;
   }

 
                /* PRODUCTS */
 

  .products {
    padding-top: 13%;
    padding-bottom: 15%;
   
  }

.products h2 {
  word-spacing: 10px;
}

.products .row {
  padding-inline: 5% 0;
  height: auto;
  row-gap: 30px;
}

.products .row .product-image img {
  min-height: 100%;
  background-position: center;
  background-size: covera;
}
.products .row .product-image {
 padding-top: 5%;a
}


.products .row .product-title p {
  padding-right: 9%;

}


                 /* CONTACT */
  .contact {
    position: relative;
    /* top: -50px; */
    height: 100vh;
    margin-top: 20%;
  }

  .contact h2 {
    padding-top: 7%;
  }

  .contact p {
    padding-top: 3%;
  }
  .contact .row {
    padding-top: 7%;
    height: 50vh;
    /* flex-direction: column; */
  }

  footer {
    position: relative;
    top: -50px;
  }
}

/* tablet */

@media (max-width: 768px) {
  html {
    font-size: 40%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 25%;
    height: 40vh;
    transition: 0.3s;
  }


  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
   color: var(--secondary);
    margin: 1.5rem;
    padding: 1rem 2rem;
    font-size: 2rem;
    opacity: 1;
    filter: drop-shadow(0 1px 1px #000);
    text-align: left;
  }

  .navbar .navbar-nav a:hover {
    font-weight: bold;
    background-color: wheat;
    border-radius: 10px;
    transition: all 0.5s linear;
    animation-name: animasiku-span;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 1;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(object-fit);
  }

 
  .navbar .navbar-extra  {
    display: flex;
    justify-content:space-between;
     width: 5%;
     margin-right: 5%;
    
  }
  .navbar .navbar-extra a {
  
   
    padding-right: 50%;
  }

  .navbar .search-form {
    width: 85%;
  }

  .home .content h1 {
    line-height: 0.4;
  }

  .home .content h2 {
    padding: 1% 0;
    span {
      height: 3em;
    }
  }
  .home .cta {
    position: relative;
    top: 20px;
    height: 10%;
    width: 30%;
  }

  .about {
    height: 100vh;
    
  }

  .about .row {
    flex-wrap: wrap;
  }



  .about .row .about-img img {
    height: 90%;
    padding-top: 3%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 360px 18px 360px 18px;
    transition: all 3s ease;
   
  }
  .about .row .about-img img:hover {
    transition: all 3s ease;
    border-radius: 0;
  
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
    line-height: 1.4rem;
  }


                  /* P R O D U C T */


.products .row .product-image img {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}




.products .row .product-title  { 
  position: relative;
  top: -10px;
  font-weight: bold;
  font-size: 2rem;
}


 
.products .row .product-title h3 {
  position: relative;
  left: -15px;
}
.products .row .product-title p {
  width: 100%;
  padding-left: 5%;
  line-height: 15px;
 font-size: 1rem;

}

  .contact .row {
    flex-wrap: wrap;
    height: 90%;
  }

  .contact .row .maps {
    height: 40%;
  }

  .contact .row form {
    max-width: 45%;
  }

  .modal-content {
    flex-wrap: wrap;
  }
}


/* mobile phone */

@media (max-width: 450px) {
  html {
    font-size: 30%;
  }

  .navbar img {
    width: 40px;
    height: 40px;
  }
  .navbar .navbar-logo {
    padding-bottom: 10px;
  }


  .navbar .navbar-nav a {
    text-align: start;
  }

  .navbar .navbar-extra {
    position: relative;
    left: -30px;
   
    width: 7%;
  
  }

  .home {
    margin-bottom: 20%;
  }

  .home .home-text {
    width: 70%;
    margin-left: 4%;
 
  }


  .about {
    min-height: 100vh;
  }

  .about h2 {
    position: relative;
    top: -30px;
  }

.about .row  {
      position: relative;
      top: -30px;
   
  } 


  .about .row .content {
      position: relative;
      top: -20px;
  } 
  .about .row .content a {

    font-weight: bold;
    line-height: 15px;
  } 

  .about .row .container-pengurus {
     min-width: 100%;
     padding-top: 5% ;
   
  } 



.products .row .product-card:nth-of-type(n+4) {
  display: none;
}

.products .row .product-title p {
  font-weight: bold;
  line-height: 12px;
}

.products .row .product-image {
 width: 40%;
}
.products .row .product-image img {
  
  width: 100%;
 object-fit: cover;
 background-position: center;

}

.products .row .product-card {
  min-height: 25vh;
}

  .products h2 {
    padding-top: 3%;
  }




  .contact {
    height: 100vh;
 border: 1px solid #555;
 padding-inline: 5%;
  }

  .contact H2 {
    padding-top: 12%;
  }

  .contact .row {
    position: relative;
    top: -20px;
  }

  .contact .row form {
    position: relative;
    top: -70px;
    min-width: 100%;
  }
  .contact .row .input-grup {
    margin-left: 5%;
  }

  footer {
    position: relative;
    top: -25px;
 
  }


}

@keyframes animateWords {
  0% {
    transform: translateY(0%);
  }

  25% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(-200%);
  }

  75% {
    transform: translateY(-300%);
  }

  100% {
    transform: translateY(-400%);
  }
}

@keyframes star {
  50% {
    transform: translateX(200%);
  }
}
