:root {
  --primary: #fff;
  --secondary: #000;
  --tertier: #ffcc00;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "poppins" sans-serif;
  background-color: var(--primary);
  color: #fff;
  background-size: cover;
  background-position: center;
}

/* section {
  padding: 3% 6%;
} */

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 6%;
  background-color: rgba(1, 1, 1, 0.3);
  border-bottom: 0.3rem solid silver;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2.2rem;
  font-weight: 700;
  color: #000;
  font-style: bold;
  filter: drop-shadow(0 0 1px silver);
  text-transform: uppercase;
  overflow: hidden;
  animation-name: animasiku;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  opacity: 0;
}



@keyframes animasiku {
  0% {
    color: #000;
    filter: drop-shadow(0 1px 2px #fff);
    opacity: 1;
  }

  25% {
    color: #fff;
    filter: drop-shadow(0 1px 2px #000);
    opacity: 1;
  }

  50% {
    color: #fff;
    filter: drop-shadow(0 1px 2px #000);
    opacity: 1;
  }
  60% {
    color: #000;
    filter: drop-shadow(0 1px 2px #fff);
    opacity: 1;
  }

  75% {
    color: #fff;
    filter: drop-shadow(0 1px 2px #000);
    opacity: 1;
  }
  100% {
    color: #fff;
    filter: drop-shadow(0 0 1px #fff);
    opacity: 1;
  }
}






.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.7rem;
  margin: 0 0.5rem;
  padding: 0 0.3rem;
  transition: 0.3s linear;
}

.navbar .navbar-nav a:hover {
  color: var(--secondary);
  transform: scale(1.2);
  transform: translatey(-5px);
  transition: all 0.5s;
  filter: drop-shadow(0 0 1px var(--tertier));
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.3s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.6);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--secondary);
}

#hamburger-menu {
  display: none;
}

/* navbar search form */

.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 9%;
  background-color: white;
  width: 57rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.5s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}



/* hero section */

.home {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/dokter.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  object-fit: cover;
  position: relative;
}

.home .home-text {
  height: 20%;
  width: 60%;
  filter: drop-shadow(0 0 1px #000);
  padding: 1% 2%;
   
}

.home .home-text h1 {
  position: relative;
  display: inline-block;
  height: 5rem;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1;
 
 
 color: var(--tertier);

  /* background: linear-gradient(120deg, transparent, var(--primary), transparent); */
  cursor: pointer;
}

.home .home-text h1:hover {
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
}

.home .home-text h1 span {
  letter-spacing: 0.3rem;
  font-weight: bold;
  font-size: 900;
  padding-right: 10px;
 
  filter: drop-shadow(1px 1px 2px #000);
}

.home .home-text .make {
  display: inline-block;
  position: relative;
  animation: moveup 12s infinite ease-in-out;
  font-style: italic;
  color: var(--primary);
  padding-right: 10px;
 
}

.home .home-text .happiness {
  display: inline-block;
  position: relative;
  animation: movedown 12s infinite ease-in-out;
  font-style: italic;
  color: var(--primary);
  padding-left: 10px;
}

@keyframes moveup {
  0% {
    transform: translatey(150%);
    opacity: 0;
  }

  25% {
    transform: translatey(30%);
    opacity: 0.5;
    transform: scale(1.2);
  }

  50% {
    transform: translatey(0%);
    opacity: 1;
    filter: drop-shadow(2px 2px 3px #fff);
  }

  75% {
    transform: translatey(0%);
    opacity: 1;
    filter: drop-shadow(2px 2px 3px #fff);
  }
  100% {
    transform: translatey(0%);
    opacity: 0.2;
  }
}
@keyframes movedown {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }

  25% {
    transform: translateY(-100%);
    opacity: 0.5;
    transform: scale(1.2);
  }

  50% {
    transform: translateY(0%);
    opacity: 1;
    filter: drop-shadow(2px 2px 3px #fff);
  }
  75% {
    transform: translateY(0%);
    opacity: 1;
    filter: drop-shadow(2px 2px 3px #fff);
  }

  100% {
    transform: translateY(0%);
    opacity: 0.2;
  }
}

.home-text p {
  color: khaki;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
  letter-spacing: 1px;
  word-spacing: 5px;
 text-shadow: 0 0 1px var(--primary);
  cursor: pointer;
}

.home-text p:hover {
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
  cursor: pointer;
}



/* about section */

.about {
  padding-top: 7%;
  padding-inline: 1%;
  margin-top: 4%;
 height: 100vh;
}

.about h2 {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 1%;
  color: var(--tertier);
  
}

.about h2 span,
.products h2 span {
  color: var(--secondary);
}

.about .row {
  display: flex;
  padding-inline: 5%;
  height: 70vh;
}

.about .row .about-img {
   background-image: url(../img/stetoskop.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  flex: 1 1 40rem;
}



.about .row .content {
  flex: 1 1 50rem;
  padding-left: 3rem;
  
}

.about .row .content h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: var(--secondary);
  word-spacing: 1px;
  font-weight: bold;
  background-color:  #cfc4c4;
 

}

.about .row .content a {
  display: inline;
  font-size: 1.2rem;

}
.about .row .content a span {
 color: #000;
 font-weight: bold;
} 

.about .row .content .container-pengurus  {
  display: flex;
  flex-wrap: wrap;
  color: black;
  font-weight: bold;
  margin-bottom: 1%;
  border-bottom: 1px solid silver;
column-gap: 30px;
background-color: khaki;
  
}
.about .row .content .container-pengurus h5  {
 margin-bottom: 10px;

}

.about .row .content .container-pengurus  span{
  color: blueviolet;
   
}



/*   -------   PRODUCT section   --------    */

.products {
  padding-inline: 2%;
  padding-top: 5%;
  margin-top: 10%;
  border-top: 1px solid #555;
}

.products p {
  justify-self: center;
}

.products .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.products .product-card {
  text-align: center;
  border: 1px solid #666;
  padding: 2rem;
}

.products .product-image {
  padding: 1rem 0;
}

.products .product-image img {
  height: 15rem;
  width: 15rem;
  object-fit: cover;
}





/*   -------   contact section   --------    */


.contact {
  padding: 5rem 3% 1rem;
  height: 100vh;
}

.contact h2 {
  color: var(--tertier);
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 2rem;
  word-spacing: 0.8rem;
  text-shadow: var(--bs);
}

.contact h2 span {
  color: var(--secondary);
}

.contact .contact-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 30px;
  /* justify-content: space-between; */
  margin-bottom: 4rem;
}

.contact-info {
  display: block;
  position: relative;
  width: 50%;
  height: 70vh;
  padding-inline: 0 2rem;
  /* flex: 1 1 40rem; */
  /* margin-right: 2rem; */
  border-radius: 20px;
  background-color: pink;
}

.contact .contact-container .contact-info h3,
.contact .contact-container .contact-info span{
  padding-left: 7%;
  padding-top: 150px;
  color: var(--secondary);
  font-weight: bold;
  font-size: 1.2rem;

 
}

.contact-info a {

  justify-content: center;
  color: var(--primary);
  text-shadow: var(--tersier);
  margin: 0 4%;
}

.contact-info a:hover {
  color: blueviolet;
}

.contact-info h3 {
  color: #f4f4f4;
  font-size: 1.2rem;
  display: inline;
  position: absolute;
}

.contact-info h3:span {
  color: black;
  font-size: 1.1rem;
  display: inline-block;
  position: relative;
  margin-top: 2.4rem;
}

/* .contact-info .contact-add,
.contact-info .contact-phone,
.contact-info .contact-mail {
  color: #ffffff;
  display: block;
  font-size: 1rem;
 
  margin-top: 0.5rem;
  margin-bottom: 1rem;
} */

.contact-form {
  position: relative;
  flex-wrap: wrap;
  /* align-items: center; */
  background-color: khaki;
  width: 45%;
  /* flex: 1 1 50rem; */
  padding: 0 3rem;
  border-radius: 20px;
  text-align: left;
  box-shadow: var(--bs);
}

.contact-form h3 {
  display: block;
  color: #010101;
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1.4rem;
}

.form-group {
  margin-bottom: 1rem;
  display: block;
  border-color: #010101;
  box-shadow: #010101;
}

button[type="submit"] {
  display: inline;
  font-size: 1.5rem;
  background-color: #5c5b66;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: var(--second);
  color: var(--primary);
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
}

.form-group textarea {
  height: 150px;
}

iframe {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  height: 30%;
  width: 40%;
  margin-inline: 3%;
  /* margin-top: 10rem; */
  border-radius: 10px;
  box-shadow: var(--bs);
}

footer {
  font-size: 1rem;
  font-weight: bold;
  word-spacing: 5px;
  text-align: center;
  background-color: black;
  color: var(--primary);
  padding: 1rem 0;
}
/* nedia queries */

/* leptop */



/* 
.contact {
  padding-top: 3%;
  height: 100vh;

}

.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-top: 2%;
}

.contact p {
  text-align: center;
  margin: auto;
  margin-bottom: 2%;
  max-width: 40rem;
  font-size: 1.2rem;
  font-weight: 1rem;
  line-height: 1;
}

.contact .row {
  display: flex;
  height: 70%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 5rem;
 padding-inline: 5%;
  border-radius: 10px;
}

.contact .row .maps {
  flex: 1 1 45rem;
  object-fit: cover;
  border: 2px solid #fff;
  border-radius: 10px;
} */
/* 
.contact .row form {
  background-image: url(../img/products/2.jpg);
  box-sizing: border-box;
  background-color: rgba(128, 128, 128, 0.9);
  flex: 1 1 45rem;
  padding: 0 3%;
  width: auto;
  text-align: center;
  border: 2px solid #666;
  border-radius: 10px;
  object-fit: cover;
}

.contact .row .input-grup {
  display: flex;
  align-items: center;
  margin-top: 10%;
  background-color: var(--bg);
  box-sizing: border-box;
  border: 1px solid #eee;
  padding-left: 1rem;
}

.contact .row form .input-grup input {
  width: 100%;
  padding: 3%;
  background: none;
  color: #fff;
  font-size: 1.3rem;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
  border-radius: 15px;
}

.btn:hover {
  filter: drop-shadow(0 0 2px var(--primary));
} */

/* footer */
/* 
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 0.5rem;
  font-size: 1.8rem;
  word-spacing: 4px;
  padding-top: 15px;

} */

/* .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
} */


/* nedia queries */

/* leptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 884px) {
  html {
    font-size: 80%;
  }

  .navbar {
    height: 8%;
  }
  .hero {
    height: 100vh;
  }

  .social {
    top: 100px;
    height: 50px;
    width: 50px;
  }

  .social svg {
    height: 50px;
    width: 50px;
  }

  .about {
    height: 45vh;
    margin-top: 10%;
    padding-top: 10%;
  }

  .about .row {
    margin-top: 5%;
  }

  .menu {
    padding-top: 10%;
  }

  .products {
    padding-top: 15%;
    padding-bottom: 15%;
  }

  .contact {
    position: relative;
    /* top: -50px; */
    height: 100vh;
    margin-top: 20%;
  }

  .contact h2 {
    padding-top: 7%;
  }

  .contact p {
    padding-top: 3%;
  }
  .contact .row {
    padding-top: 7%;
    height: 50vh;
    /* flex-direction: column; */
  }

  footer {
    position: relative;
    top: -50px;
  }
}

/* tablet */

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 40%;
    height: 50vh;
    transition: 0.3s;
    opacity: 0.7;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
   color: chocolate;
   /* color: var(--secondary); */
    margin: 1.5rem;
    padding: 1rem 2rem;
    font-size: 2rem;
    opacity: 1;
    filter: drop-shadow(0 1px 1px #000);
  }

  .navbar .navbar-nav a:hover {
    font-weight: bold;
    transform: scalez(1.2);
    transition: all 3s linear;
    animation-name: animasiku-span;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 1;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(object-fit);
  }

  .navbar .search-form {
    width: 85%;
  }

  .hero .content h1 {
    line-height: 0.4;
  }

  .hero .content h2 {
    padding: 1% 0;
    span {
      height: 3em;
    }
  }
  .hero .cta {
    position: relative;
    top: 20px;
    height: 10%;
    width: 30%;
  }

  .about {
    min-height: 100vh;
  }

  .about .row {
    flex-wrap: wrap;
  }



  .about .row .about-img img {
    height: 90%;
    padding-top: 3%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 360px 18px 360px 18px;
    transition: all 3s ease;
   
  }
  .about .row .about-img img:hover {
    transition: all 3s ease;
    border-radius: 0;
  
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
    line-height: 1.4rem;
  }

  .products {
    padding-inline: 7%;
    border: 1px solid #555;
  }

  .contact .row {
    flex-wrap: wrap;
    height: 90%;
  }

  .contact .row .maps {
    height: 40%;
  }

  .contact .row form {
    max-width: 45%;
  }

  .modal-content {
    flex-wrap: wrap;
  }
}
/* mobile phone */

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .navbar .navbar-nav {
   
    width: 35%;
  }
  .hero {
    margin-bottom: 20%;
  }

  .hero .content {
    padding-top: 8%;
  }

  .hero .content .cta {
    width: 45%;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.5rem, 2.5vw, 1.4rem);
    padding: 0.75rem 1rem;
    font-weight: bold;
  }

  .social {
    top: 8%;
    height: 50px;
    width: 50px;
  }

  .about {
    min-height: 65vh;
    position: relative;
 
    margin-bottom: 10%;
    height: auto;
   
  }

.about .row {
      position: relative;
    top: -30px;
  } 

  .about H2 {
    padding-bottom: 7%;
      position: relative;
      top: 20px;
   
  } 

.menu {
  padding-top: 12%;
}

  .menu .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .menu .row .menu-card img {
    height: 140px;
    width: 140px;
    border-radius: 50%;
  }

  .products .product-image img {
    height: 25rem;
    width: 25rem;
  }

  .products h2 {
    padding-top: 3%;
  }

  .contact {
    height: 100vh;
 border: 1px solid #555;
 padding-inline: 5%;
  }

  .contact H2 {
    padding-top: 12%;
  }

  .contact .row {
    position: relative;
    top: -20px;
  }

  .contact .row form {
    position: relative;
    top: -70px;
    min-width: 100%;
  }
  .contact .row .input-grup {
    margin-left: 5%;
  }

  footer {
    position: relative;
    top: -25px;
 
  }


}

@keyframes animateWords {
  0% {
    transform: translateY(0%);
  }

  25% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(-200%);
  }

  75% {
    transform: translateY(-300%);
  }

  100% {
    transform: translateY(-400%);
  }
}

@keyframes star {
  50% {
    transform: translateX(200%);
  }
}
